@page "{bookId:int}"
@model LibraryManager.Pages.Books.DetailModel
@{
}

@if (Model.Confirmation != null)
{
    <div class="alert alert-info">
        @Model.Confirmation
    </div>
}

<h2>@Model.Book.Title</h2>

<div>@Model.Book.BookGenre</div>